@page "/test"
@layout MainLayout


<div class="row">
    <div class="col-md-6">
        <h3>FileInput</h3>
        <RadzenCard Style="width:600px;margin-bottom: 20px; height:500px;">
            <div class="row">
                <div class="col-md-12">
                    <div style="margin-top:20px">Employee:</div>
                    <b>@(category.Name)</b>
                    <br />
                    <RadzenFileInput @bind-Value="@category.CoverPath" Style="width:400px;" TValue="string"
                                     Change="@(args => Change(args))" Error="@(args => Error(args))" />
                </div>
            </div>
        </RadzenCard>
    </div>
    <div class="col-md-6">
        <h3>Events</h3>
        <RadzenCard style="overflow: auto;height:500px;">
            @foreach (var e in events.OrderByDescending(i => i.Key))
            {
                @e.Value
                <br />
            }
        </RadzenCard>
    </div>
</div>

@code {
    Category category;

    protected override async Task OnInitializedAsync()
    {
        category = new Category();
    }

    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    void Change(string value)
    {
        events.Add(DateTime.Now, "fileinput value changed");

    }

    void Error(UploadErrorEventArgs args)
    {
        events.Add(DateTime.Now, $"{args.Message}");
    }
}