@inject IJSRuntime js
@inject NavigationManager navigation
@inject MahwousRepositories repositories

<div class="container">

    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <Pagination CurrentPage="@videoFilter.Pagination.Page" TotalAmountPages="totalAmountPages"
                                SelectedPage="SelectedPage" />
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div>
                        @if (videos == null)
                        {
                            <p>جاري تحميل الحالات .. </p>
                        }
                        else if (videos.Count == 0)
                        {
                            <p> لا يوجد حالات! </p>
                        }
                        else
                        {
                            <div class="card-columns">
                                @foreach (var video in videos)
                                {
                                    <div class="card">
                                        <a href="videos/@video.Id" class="text-dark card-text">
                                            <div class="card-header">
                                                <h4 class="card-title">@video.Title</h4>
                                            </div>
                                            <div class="card-body p-0">
                                                <img src="@video.CoverPath" style="height:auto; width:100%; object-fit:cover" />
                                            </div>
                                        </a>

                                        <AuthorizeView>
                                            <Authorized>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                        <button class="btn btn-danger" @onclick="@(() => DeleteVideo(video.Id))">حذف</button>
                                                        <a class="btn btn-info" href="administration/videos/edit/@video.Id">تعديل</a>
                                                    </div>
                                                </div>
                                            </Authorized>
                                        </AuthorizeView>

                                    </div>
                                }
                            </div>

                        }
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <Pagination CurrentPage="@videoFilter.Pagination.Page" TotalAmountPages="totalAmountPages"
                                SelectedPage="SelectedPage" />
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-lg-3">


            <AuthorizeView>
                <Authorized>
                    <a href="administration/videos/create" class="btn btn-primary btn-block mb-3">اضافة فيديو جديد</a>
                </Authorized>
            </AuthorizeView>

            <EditForm Model="videoFilter">
                <div class="card my-2">
                    <div class="card-header">
                        <h3 class="card-title">فلترة</h3>
                    </div>

                    <div class="card-body">


                        <div class="form-group">
                            <label for="Content">Content</label>
                            <input type="text" class="form-control" id="title" placeholder="Video Content"
                                   @bind-value="videoFilter.Name" @bind-value:event="oninput"
                                   @onkeypress="@((KeyboardEventArgs e) => NameKeyPress(e))" />
                        </div>

                        <div class="form-group">
                            <label for="ViewsCountFrom"> عدد المشاهدات من</label>
                            <input type="number" class="form-control" id="ViewsCountFrom"
                                   @bind-value="videoFilter.ViewsCount.From" @bind-value:event="oninput" />
                            <label for="ViewsCountTo">إلى</label>
                            <input type="number" class="form-control" id="ViewsCountFromTo"
                                   @bind-value="videoFilter.ViewsCount.To" @bind-value:event="oninput" />
                        </div>
                        <div class="form-group">
                            <label for="LikesCountFrom">عدد اللايكات من</label>
                            <input type="number" class="form-control" id="LikesCountFrom"
                                   @bind-value="videoFilter.LikesCount.From" @bind-value:event="oninput" />
                            <label for="LikesCountTo">إلى</label>
                            <input type="number" class="form-control" id="LikesCounttFromTo"
                                   @bind-value="videoFilter.LikesCount.To" @bind-value:event="oninput" />
                        </div>

                        <div class="form-group">
                            <label for="DownloadsCountFrom">عدد التحميلات من</label>
                            <input type="number" class="form-control" id="DownloadsCountFrom"
                                   @bind-value="videoFilter.DownloadsCount.From" @bind-value:event="oninput" />
                            <label for="DownloadsCountTo">إلى</label>
                            <input type="number" class="form-control" id="DownloadsCountTo"
                                   @bind-value="videoFilter.DownloadsCount.To" @bind-value:event="oninput" />
                        </div>

                        <div class="form-group">
                            <label for="DateFrom">من تاريخ</label>
                            <input type="date" class="form-control" id="DateFrom" placeholder="DateFrom"
                                   @bind-value="videoFilter.Date.From" @bind-value:event="oninput" />
                        </div>

                        <div class="form-group">
                            <label for="DateTo">إلى تاريخ</label>
                            <input type="date" class="form-control" id="DateTo" placeholder="DateTo"
                                   @bind-value="videoFilter.Date.To" @bind-value:event="oninput" />
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="WithoutCategory" @bind="videoFilter.WithoutCategory" />
                            <label class="form-check-label" for="WithoutCategory">بدون تصنيف فقط</label>
                        </div>

                        <div class="form-group">
                            <label for="Categories">تصنيفات</label>
                            <RadzenDropDown class="form-control" Disabled="@videoFilter.WithoutCategory" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="selectedCategoriesIds" Multiple="true" Placeholder="Select..." Data="@categories" TextProperty="Name" ValueProperty="Id"
                                            Change="@(args => Change(args))" />
                        </div>




                        <div class="form-group">

                            <label for="sortType">نوع الترتيب</label>

                            <InputSelect class="form-control" id="SortType" @bind-Value="videoFilter.SortType">

                                @foreach (var sortType in Enum.GetValues(typeof(StatusSortType)))
                                {
                                    <option value="@sortType">@sortType</option>
                                }

                            </InputSelect>

                        </div>



                        <AuthorizeView>
                            <Authorized Context="authorized">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Visible" @bind="videoFilter.Visible" />
                                    <label class="form-check-label" for="Visible">مرئي</label>
                                </div>
                            </Authorized>
                        </AuthorizeView>


                    </div>

                    <div class="card-footer">
                        @*<button type="submit" class="btn btn-primary">Submit</button>*@
                        <button type="button" class="btn btn-primary" @onclick="SearchForVideos">فلترة</button>
                        <button type="button" class="btn btn-link text-danger" @onclick="Clear">حذف الفلتر <i class="fas fa-backspace"></i></button>
                    </div>
                </div>
            </EditForm>
            <!-- /.card -->
            <div class="card my-2">
                <div class="card-header">
                    <h3 class="card-title">احصاءات</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    @if (informations != null)
                    {
                        <p class="ml-auto ml-md-0"></p>
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-danger"></i> عدد الفيديوهات: @informations.Count</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-warning"></i> مجموع المشاهدات: @informations.ViewsCount</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-primary"></i> مجموع التحميلات: @informations.DownloadsCount</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-primary"></i> مجموع اللايكات: @informations.LikesCount</a>
                            </li>
                        </ul>
                    }

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->


</div><!-- /.container-fluid -->









@code {
    private VideoFilter videoFilter = new VideoFilter();

    ICollection<VideoStatus> videos { get; set; }
    ICollection<Category> categories { get; set; }
    Informations informations;


    private int totalAmountPages;


    protected async override Task OnInitializedAsync()
    {
        //await authorizer.SetAuthorizationAsync();
        videoFilter.SortType = StatusSortType.Newest;
        informations = await repositories.VideosRepository.GetInformations();
        await LoadVideos();
        await LoadCategories();
    }



    IEnumerable<int> selectedCategoriesIds = new int[] { };
    void Change(object value)
    {
        //StateHasChanged();
    }


    async Task LoadCategories()
    {
        try
        {

            CategoryFilter filter = new CategoryFilter();
            filter.ForVideos = true;
            filter.Pagination.RecordsPerPage = 100;

            var paginatedResponse = await repositories.CategoriesRepository.GetFiltered(filter);
            categories = paginatedResponse.Response;
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }



    async Task LoadVideos()
    {
        try
        {
            var paginatedResponse = await repositories.VideosRepository.GetFiltered(videoFilter);
            videos = paginatedResponse.Response;
            totalAmountPages = paginatedResponse.TotalAmountPages;

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }

    async Task DeleteVideo(int videoId)
    {
        //var video = videos.First(i => i.Id == videoId);
        if (await js.Confirm("تأكيد", $"هل أنت متأكد أنك تريد أن تحذف هذه الصورة؟", SweetAlertMessageType.error))
        {
            await repositories.VideosRepository.Delete(videoId);
            await LoadVideos();
        }
    }

    private async Task SelectedPage(int page)
    {
        videoFilter.Pagination.Page = page;
        await LoadVideos();
    }



    private async Task SearchForVideos()
    {
        videoFilter.Categories.Clear();
        foreach (int id in selectedCategoriesIds ?? new int[] { })
        {
            videoFilter.Categories.Add(categories.First(c => c.Id == id));
        }


        await LoadVideos();
    }

    private async Task Clear()
    {
        videoFilter = new VideoFilter();
        selectedCategoriesIds = new int[] { };
        videoFilter.SortType = StatusSortType.Newest;

        await LoadVideos();
    }

    private async Task NameKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchForVideos();
        }
    }
}
