@using System.IO


<EditForm Model="Category" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="Name">الإسم:</label>
        <div>
            <InputText @bind-Value="Category.Name" />
            <span class="text-danger"><ValidationMessage For="@(() => Category.Name)" /></span>
        </div>
    </div>

    <div class="form-group">
        <InputImage Label="صورة التصنيف" OnSelectedImage="PictureSelected" />
        <span class="text-danger"><ValidationMessage For="@(() => Category.CoverPath)" /></span>
    </div>



    <div class="form-check">
        <InputCheckbox @bind-Value="Category.ForQuotes" />
        <label class="form-check-label" for="Visible">للكتابية</label>
        <span class="text-danger"><ValidationMessage For="@(() => Category.ForQuotes)" /></span>
    </div>
    <div class="form-check">
        <InputCheckbox @bind-Value="Category.ForVideos" />
        <label class="form-check-label" for="Visible">للفيديو</label>
        <span class="text-danger"><ValidationMessage For="@(() => Category.ForVideos)" /></span>
    </div>
    <div class="form-check">
        <InputCheckbox @bind-Value="Category.ForImages" />
        <label class="form-check-label" for="Visible">للصور</label>
        <span class="text-danger"><ValidationMessage For="@(() => Category.ForImages)" /></span>
    </div>

    <br />

    <a href="administration/categories" class="btn btn-danger">
        رجوع
    </a>

    <button type="submit" class="btn btn-info">
        @ButtonText
    </button>

</EditForm>

@code {

    [Parameter] public Category Category { get; set; }
    [Parameter] public string ButtonText { get; set; } = "حفظ التصنيف";
    [Parameter] public EventCallback OnValidSubmit { get; set; }


    protected override void OnInitialized()
    {
        Category.CoverPath = null;
    }

    private void PictureSelected(string imageBase64)
    {
        Category.CoverPath = imageBase64;
    }

}