@page "/administration/images"
@layout AdminLayout
@attribute [Authorize]

@inject IJSRuntime js
@inject NavigationManager navigation
@inject IImageRepository imageRepository
@inject ICategoryRepository categoryRepository
@inject HttpAuthorizer authorizer
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>حالات صور</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">الصور</li>
                    <li class="breadcrumb-item"><a href="administration">الإدارة</a></li>
                    <li class="breadcrumb-item"><a href="">الصفحة الرئيسية</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.col -->
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <Pagination CurrentPage="@imageFilter.Page" TotalAmountPages="totalAmountPages"
                                    SelectedPage="SelectedPage" />
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div>
                            @if (images == null)
                            {
                                <p>جاري تحميل الصور .. </p>
                            }
                            else if (images.Count == 0)
                            {
                                <p> لا يوجد صور! </p>
                            }
                            else
                            {
                                <div class="content">
                                    <div class="row">
                                        @foreach (ImageStatus image in images)
                                        {
                                            <div class="col-md-4">
                                                <div class="card card-chart">
                                                    <div class="card-header card-header-success p-0">
                                                        <img src="@image.ImagePath" style="height:auto; width:100%; object-fit:cover" />
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                            <button class="btn btn-danger" @onclick="@(() => DeleteImage(image.Id))">حذف</button>
                                                            <a class="btn btn-info" href="administration/images/edit/@image.Id">تعديل</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            }
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <Pagination CurrentPage="@imageFilter.Page" TotalAmountPages="totalAmountPages"
                                    SelectedPage="SelectedPage" />
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-lg-3">
                <a href="administration/images/create" class="btn btn-primary btn-block mb-3">اضافة صورة جديدة</a>

                <EditForm Model="imageFilter">
                    <div class="card collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">فلترة</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-group">
                                <label for="ViewsCount">عدد المشاهدات</label>
                                <input type="number" class="form-control" id="ViewsCount" placeholder="ViewsCount"
                                       @bind-value="imageFilter.ViewsCount" @bind-value:event="oninput" />
                            </div>
                            <div class="form-group">
                                <label for="LikesCount">عدد اللايكات</label>
                                <input type="number" class="form-control" id="LikesCount" placeholder="LikesCount"
                                       @bind-value="imageFilter.LikesCount" @bind-value:event="oninput" />
                            </div>

                            <div class="form-group">
                                <label for="DownloadsCount">عدد التحميلات</label>
                                <input type="number" class="form-control" id="DownloadsCount" placeholder="DownloadsCount"
                                       @bind-value="imageFilter.DownloadsCount" @bind-value:event="oninput" />
                            </div>

                            <div class="form-group">
                                <label for="DateFrom">من تاريخ</label>
                                <input type="date" class="form-control" id="DateFrom" placeholder="DateFrom"
                                       @bind-value="imageFilter.DateFrom" @bind-value:event="oninput" />
                            </div>

                            <div class="form-group">
                                <label for="DateTo">إلى تاريخ</label>
                                <input type="date" class="form-control" id="DateTo" placeholder="DateTo"
                                       @bind-value="imageFilter.DateTo" @bind-value:event="oninput" />
                            </div>

                            <div class="form-group">
                                <label for="Categories">تصنيفات</label>
                                <RadzenDropDown class="form-control" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="selectedCategoriesIds" Multiple="true" Placeholder="Select..." Data="@categories" TextProperty="Name" ValueProperty="Id"
                                                Change="@(args => Change(args))" />
                            </div>




                            <div class="form-group">

                                <label for="sortType">نوع الترتيب</label>

                                <InputSelect class="form-control" id="SortType" @bind-Value="imageFilter.SortType">

                                    @foreach (var sortType in Enum.GetValues(typeof(SortType)))
                                    {
                                        <option value="@sortType">@sortType</option>
                                    }

                                </InputSelect>

                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Visible" @bind="imageFilter.Visible" />
                                <label class="form-check-label" for="Visible">ازالة المخفي</label>
                            </div>

                        </div>

                        <div class="card-footer">
                            @*<button type="submit" class="btn btn-primary">Submit</button>*@
                            <button type="button" class="btn btn-primary" @onclick="SearchForImages">فلترة</button>
                            <button type="button" class="btn btn-link text-danger" @onclick="Clear">حذف الفلتر <i class="fas fa-backspace"></i></button>
                        </div>
                    </div>
                </EditForm>
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">ملاحظات</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-danger"></i> أكثر من الصلاة على النبي</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-warning"></i> لا اله إلا الله</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-primary"></i> لا حول ولا قوة الا بالله</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>









@code {
    private ImageFilter imageFilter = new ImageFilter();

    List<ImageStatus> images { get; set; }
    List<Category> categories { get; set; }


    private int totalAmountPages;


    protected async override Task OnInitializedAsync()
    {
        await authorizer.SetAuthorizationAsync();
        imageFilter.Visible = false;
        imageFilter.SortType = SortType.Newest;
        await LoadImages();
        await LoadCategories();
    }



    IEnumerable<int> selectedCategoriesIds = new int[] { };
    void Change(object value)
    {
        //StateHasChanged();
    }
    async Task LoadCategories()
    {
        try
        {
            var paginatedResponse = await categoryRepository.GetCategoriesFiltered(new CategoryFilter() { ForImages = true, RecordsPerPage = 100 });
            categories = paginatedResponse.Response;
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }



    async Task LoadImages()
    {
        try
        {
            var paginatedResponse = await imageRepository.GetImagesFiltered(imageFilter);
            images = paginatedResponse.Response;
            totalAmountPages = paginatedResponse.TotalAmountPages;

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }

    async Task DeleteImage(int imageId)
    {
        var video = images.First(i => i.Id == imageId);
        if (await js.Confirm("تأكيد", $"هل أنت متأكد أنك تريد أن تحذف هذه الصورة؟", SweetAlertMessageType.error))
        {
            await imageRepository.Delete(imageId);
            await LoadImages();
        }
    }

    private async Task SelectedPage(int page)
    {
        imageFilter.Page = page;
        await LoadImages();
    }








    private async Task SearchForImages()
    {
        imageFilter.Categories.Clear();
        foreach (int id in selectedCategoriesIds)
        {
            imageFilter.Categories.Add(categories.First(c => c.Id == id));
        }


        await LoadImages();
    }

    private async Task Clear()
    {
        imageFilter.DownloadsCount = 0;
        imageFilter.ViewsCount = 0;
        imageFilter.LikesCount = 0;

        imageFilter.DateFrom = DateTime.MinValue;
        imageFilter.DateTo = DateTime.MinValue;

        selectedCategoriesIds = new int[] { };
        imageFilter.Categories.Clear();

        imageFilter.SortType = SortType.Newest;

        imageFilter.Visible = false;

        await LoadImages();
    }

    private async Task NameKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchForImages();
        }
    }
}

