@page "/administration/quotes"
@layout AdminLayout
@attribute [Authorize]

@inject IJSRuntime js
@inject NavigationManager navigation
@inject IQuoteRepository quoteRepository
@inject ICategoryRepository categoryRepository
@inject HttpAuthorizer authorizer
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>حالات كتابية</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">كتابية</li>
                    <li class="breadcrumb-item"><a href="administration">الإدارة</a></li>
                    <li class="breadcrumb-item"><a href="">الصفحة الرئيسية</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <Pagination CurrentPage="@quoteFilter.Page" TotalAmountPages="totalAmountPages"
                                    SelectedPage="SelectedPage" />
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div>
                            @if (quotes == null)
                            {
                                <p>جاري تحميل الحالات .. </p>
                            }
                            else if (quotes.Count == 0)
                            {
                                <p> لا يوجد حالات! </p>
                            }
                            else
                            {
                                <div class="content">
                                    <div class="row">
                                        @foreach (var quote in quotes)
                                        {
                                            <div class="col-lg-6 col-md-12">
                                                <div class="card card-chart">
                                                    <div class="card-body">

                                                        <p class="card-text">
                                                            @quote.Content
                                                        </p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                            <button class="btn btn-danger" @onclick="@(() => DeleteQuote(quote.Id))">حذف</button>
                                                            <a class="btn btn-info" href="administration/quotes/edit/@quote.Id">تعديل</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            }
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <Pagination CurrentPage="@quoteFilter.Page" TotalAmountPages="totalAmountPages"
                                    SelectedPage="SelectedPage" />
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-lg-3">
                <a href="administration/quotes/create" class="btn btn-primary btn-block mb-3">اضافة حالة جديدة</a>

                <EditForm Model="quoteFilter">
                    <div class="card collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">فلترة</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">


                            <div class="form-group">
                                <label for="Content">Content</label>
                                <input type="text" class="form-control" id="title" placeholder="Quote Content"
                                       @bind-value="quoteFilter.Content" @bind-value:event="oninput"
                                       @onkeypress="@((KeyboardEventArgs e) => NameKeyPress(e))" />
                            </div>

                            <div class="form-group">
                                <label for="ViewsCount">عدد المشاهدات</label>
                                <input type="number" class="form-control" id="ViewsCount" placeholder="ViewsCount"
                                       @bind-value="quoteFilter.ViewsCount" @bind-value:event="oninput" />
                            </div>
                            <div class="form-group">
                                <label for="LikesCount">عدد اللايكات</label>
                                <input type="number" class="form-control" id="LikesCount" placeholder="LikesCount"
                                       @bind-value="quoteFilter.LikesCount" @bind-value:event="oninput" />
                            </div>

                            <div class="form-group">
                                <label for="DownloadsCount">عدد التحميلات</label>
                                <input type="number" class="form-control" id="DownloadsCount" placeholder="DownloadsCount"
                                       @bind-value="quoteFilter.DownloadsCount" @bind-value:event="oninput" />
                            </div>

                            <div class="form-group">
                                <label for="DateFrom">من تاريخ</label>
                                <input type="date" class="form-control" id="DateFrom" placeholder="DateFrom"
                                       @bind-value="quoteFilter.DateFrom" @bind-value:event="oninput" />
                            </div>

                            <div class="form-group">
                                <label for="DateTo">إلى تاريخ</label>
                                <input type="date" class="form-control" id="DateTo" placeholder="DateTo"
                                       @bind-value="quoteFilter.DateTo" @bind-value:event="oninput" />
                            </div>

                            <div class="form-group">
                                <label for="Categories">تصنيفات</label>
                                <RadzenDropDown class="form-control" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="selectedCategoriesIds" Multiple="true" Placeholder="Select..." Data="@categories" TextProperty="Name" ValueProperty="Id"
                                                Change="@(args => Change(args))" />
                            </div>




                            <div class="form-group">

                                <label for="sortType">نوع الترتيب</label>

                                <InputSelect class="form-control" id="SortType" @bind-Value="quoteFilter.SortType">

                                    @foreach (var sortType in Enum.GetValues(typeof(SortType)))
                                    {
                                        <option value="@sortType">@sortType</option>
                                    }

                                </InputSelect>

                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Visible" @bind="quoteFilter.Visible" />
                                <label class="form-check-label" for="Visible">ازالة المخفي</label>
                            </div>

                        </div>

                        <div class="card-footer">
                            @*<button type="submit" class="btn btn-primary">Submit</button>*@
                            <button type="button" class="btn btn-primary" @onclick="SearchForQuotes">فلترة</button>
                            <button type="button" class="btn btn-link text-danger" @onclick="Clear">حذف الفلتر <i class="fas fa-backspace"></i></button>
                        </div>
                    </div>
                </EditForm>
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">ملاحظات</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-danger"></i> أكثر من الصلاة على النبي</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-warning"></i> لا اله إلا الله</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="far fa-circle text-primary"></i> لا حول ولا قوة الا بالله</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>









@code {
    private QuoteFilter quoteFilter = new QuoteFilter();

    List<QuoteStatus> quotes { get; set; }
    List<Category> categories { get; set; }


    private int totalAmountPages;


    protected async override Task OnInitializedAsync()
    {
        await authorizer.SetAuthorizationAsync();
        quoteFilter.Visible = false;
        quoteFilter.SortType = SortType.Newest;
        await LoadQuotes();
        await LoadCategories();
    }



    IEnumerable<int> selectedCategoriesIds = new int[] { };
    void Change(object value)
    {
        //StateHasChanged();
    }


    async Task LoadCategories()
    {
        try
        {
            var paginatedResponse = await categoryRepository.GetCategoriesFiltered(new CategoryFilter() { ForQuotes = true, RecordsPerPage = 100 });
            categories = paginatedResponse.Response;
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }



    async Task LoadQuotes()
    {
        try
        {
            var paginatedResponse = await quoteRepository.GetQuotesFiltered(quoteFilter);
            quotes = paginatedResponse.Response;
            totalAmountPages = paginatedResponse.TotalAmountPages;

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }

    async Task DeleteQuote(int quoteId)
    {
        //var quote = quotes.First(i => i.Id == quoteId);
        if (await js.Confirm("تأكيد", $"هل أنت متأكد أنك تريد أن تحذف هذه الصورة؟", SweetAlertMessageType.error))
        {
            await quoteRepository.Delete(quoteId);
            await LoadQuotes();
        }
    }

    private async Task SelectedPage(int page)
    {
        quoteFilter.Page = page;
        await LoadQuotes();
    }



    private async Task SearchForQuotes()
    {
        quoteFilter.Categories.Clear();
        foreach (int id in selectedCategoriesIds)
        {
            quoteFilter.Categories.Add(categories.First(c => c.Id == id));
        }


        await LoadQuotes();
    }

    private async Task Clear()
    {
        quoteFilter.Content = string.Empty;

        quoteFilter.DownloadsCount = 0;
        quoteFilter.ViewsCount = 0;
        quoteFilter.LikesCount = 0;

        quoteFilter.DateFrom = DateTime.MinValue;
        quoteFilter.DateTo = DateTime.MinValue;

        selectedCategoriesIds = new int[] { };
        quoteFilter.Categories.Clear();

        quoteFilter.SortType = SortType.Newest;

        quoteFilter.Visible = false;

        await LoadQuotes();
    }

    private async Task NameKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchForQuotes();
        }
    }
}
