@page "/accounts/register"

@inject IAccountsRepository accountsRepository
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IJSRuntime js

@using MahwousWeb.Client.Auth

<h3>تسجيل حساب جديد</h3>

<EditForm Model="userInfo" OnValidSubmit="CreateUser">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>الحساب:</label>
        <div>
            <InputText class="form-control" @bind-Value="@userInfo.Email" />
            <ValidationMessage For="@(() => userInfo.Email)" />
        </div>
    </div>

    <div class="form-group">
        <label>كلمة المرور:</label>
        <div>
            <InputText class="form-control" @bind-Value="@userInfo.Password" type="password" />
            <ValidationMessage For="@(() => userInfo.Password)" />
        </div>
    </div>

    <div class="form-group">
        <label>تأكيد كلمة المرور:</label>
        <div>
            <InputText class="form-control" @bind-Value="@userInfo.ConfirmPassword" type="password" />
            <ValidationMessage For="@(() => userInfo.ConfirmPassword)" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">تسجيل</button>

</EditForm>

@code {
    private RegisterUserInfo userInfo = new RegisterUserInfo();

    private async Task CreateUser()
    {
        try
        {
            var userToken = await accountsRepository.Register(userInfo);
            await loginService.Login(userToken);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            await js.DisplayMessage(ex.Message);
        }
    }
}